/*@import url('https://fonts.googleapis.com/css?family=Iceland');*/
/* latin */
@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(../fonts/0t3IIKOg5Y3bymbv3QH8mA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


h1 {
	font-family: Iceland;
	font-size: 70px;
	font-variant: normal;
	font-weight: bold;
	line-height: 49px;
}
h2 {
	font-family: Iceland;
	font-size: 49px;
	font-variant: normal;
	font-weight: bold;
	
}
h3 {
	font-family: Iceland;
	font-size: 30px;
	font-variant: normal;
	font-weight: bold;
	
}

h4 {
	font-family: Iceland;
	font-size: 25px;
	font-variant: normal;
	font-weight: bold;
	
}
h5 {
	font-family: Iceland;
	font-size: 20px;
	font-variant: normal;
	font-weight: bold;
	
}
h6 {
	font-family: Iceland;
	font-size: 15px;
	font-variant: normal;
	font-weight: bold;
	
}
p {
	font-family: Iceland;
	font-size: 20px;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Iceland;
	font-size: 25px;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}
pre {
	font-family: Iceland;
	font-size: 16px;
	font-variant: normal;
	font-weight: 400;
	line-height: 16px;
}
.myfont
{

font-family: Iceland;
	
	


}